nav{
  height: 4.5rem;
  width: 100vw;
  background: var(--color-fou);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.nav__container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__links{
  display: flex;
  gap: 10rem;
  align-items: center;
}

.nav__links li a{
  color: white;
  font-size: 1.4rem;
}

.active-nav{
  border-bottom: 3px solid var(--color-sec);
}