@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

:root{
  --color-pri: rgb(238, 238, 238);
  --color-sec: rgb(84, 140, 168);
  --color-thr: rgb(71, 96, 114);
  --color-fou: rgb(51, 66, 87);
  /* color form */
  --white: #fff;
  --gray: #6c757d7c;
  --gray-dark: #343a40;
  --secondary: #d6d6d6;
  --light: #f8f9fa;
  --dark: #343a40;
  --gray-light: #b1b1b1;
  --black: #000;
}